{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {%for card in cards%}
          {% if card.idList == doing %}
            <li>{{ card.name }} - {{ card.desc }} - {{ card.due }} - Doing </li>
          {% endif %}
          {% if card.idList == to_do %}
            <li>{{ card.name }} - {{ card.desc }} - {{ card.due }} - To-Do </li>
          {% endif %}
          {% if card.idList == done %}
            <li>{{ card.name }} - {{ card.desc }} - {{ card.due }} - Done </li>
          {% endif %}
        {%endfor%}
      </ul>
      <form action="/add" method="post">
        <label for="item">Add Item</label>
        <input type="text" id="item" name="item"><br>
        <label for="description">Description</label>
        <input type="text" id="description" name="description"><br>
        <label for="date">Date</label>
        <input type="date" id="due" name="due"><br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}